<h1>Welcome to the Art App website</h1>
<h2>Your source for Art anywhere</h2>

<%= image_tag("https://i0.wp.com/experimentalwebsiteforme.com/wp-content/uploads/2018/06/UNADJUSTEDNONRAW_thumb_742.jpg?w=1024&ssl=1", class: "img-responsive") %>