<h1>Welcome to the Art App website</h1>
<h2>Your source for Art anywhere</h2>

<%= image_tag("https://cryptic-journey-81193.herokuapp.com/assets/IMG_0694-81f5affadf7b138e1562079512da57c7d59e6aa3e770b5f02670cbf11c126eda.jpg", class: "img-responsive") %>